.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

body{
  height: 100vh;
  background-color: black;
  width: 100vw;
  box-sizing: border-box !important;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-user-select: none !important; /* Chrome/Safari */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE10+ */
  /* -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both; */
}

body *, body *:before, body *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #f6f1ed;
}

.selector {
  color: black;
  display: in-line;
}

.menuButton {
    marginLeft: -12px;
    marginRight: 20px;
  }

.topbar {
  margin-top: 0;

}

.navBar {
  transition: box-shadow .5s, height .5s;
  display: table;
}

.navBar:hover {
  box-shadow: 0 0 14px black;
}

.typedTitle {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 4px;
  font-size: 64px;
  font-weight: 500;
  margin: auto;
  text-align: center;
  color: #f6f1ed;
}

.lineBreak {
  transition: width 2s;
  height: 4px;
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(246,245,255,1) 50%, rgba(0,0,0,1) 100%); */
  background-color: #f6f1ed;
  margin: auto;
  transition-timing-function: ease;
  border-radius: 20px;
}

.length {
  width: 40%;
}

.noLength {
  width: 0px;
}

.typedMenu {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  margin-top: 18px;
  width: 100%;
  text-align: center;
  color: #f6f1ed;
  transition: color 1s, font-size .5s;
  background-color: transparent;
  border-radius: 15px;
  width: 15%;
  align-items: center;
  align-content: center;
  height: auto;
  padding: 8px 18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #f6f1ed 50%,
    #f6f1ed);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.typedMenu:hover {
  cursor: pointer;
  color: black;
  background-position: 0 0;
}


.navBarTitle {
  transition: font-size .25s;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 26px;
  margin-top: 8px;
  opacity: 1;
  transition-timing-function: linear;
  top: 50%;
}

.navBarIcon {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 8px;
  transition: color .25s, font-size .25s;
  transition-timing-function: linear;
  opacity: 1;
  top: 50%;
}
.navBarIcon:hover {
  cursor: pointer;
  color: #FA2742;
}
.scrollArrow {
  animation-name: scrollDownPulse;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.scrollArrow:hover {
  cursor: pointer;
}

/* Grid design */
.containerGrid {
  width: 100%;
  margin: auto;
  display: grid;
  opacity: 1;
  grid-template-columns: repeat(12, 1fr);
}


.gridHeader {
  grid-column: span 12;
  justify-self: center;
  align-self: end;
  height: auto;
}

.gridItemHead {
  grid-column: span 4;
  justify-self: center;
  align-self: start;
  font-weight: 700;
  text-align: center;
}

.gridItemContent {
  width: 80%;
  margin: auto;
  margin-top: 8px;
  grid-column: span 4;
  justify-self: start;
  align-self: start;
  text-align: center;
}


.projectsGrid {
  width: 100%;
  width: 100%;
  margin: auto;
  display: grid;
  background-color: #f6f1ed;
  /* background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, 1)); */
  grid-template-columns: repeat(12, 1fr);
}

.pointer:hover {
  cursor: pointer;
}

.projectsHeader {
  width: 80%;
  margin: auto;
  text-align: center;
  grid-column: span 12;
  justify-self: center;
  align-self: end;
  font-size: 52px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f6f1ed;
}

.projectCard {
  width: 100%;
  /* height: 250px; */
  grid-column: span 6;
  margin: 0;
  min-height: 50vh;
  z-index: 0;
}

.projectOverlay {
  position: relative;
  z-index: 1;
  grid-column: span 6;
  grid-row: span 1;
  transition: all .25s ease-in-out;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  display: table;
  height: 100%;
  /* height: 250px; */

}


.toolsUsedHeader {
  margin: auto;
  height: 20%;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5%;
  padding: 6px;
  padding-bottom: 20px;
}

.dozrOverlay {

  background-size: 80% auto;
  backgroundPosition: center;

}

.projectOverlay:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
-webkit-box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
-moz-box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
}

.overlayText {
  display: table-cell;
  vertical-align: top;
  color: white;
  font-size: 20px;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.overlayLinkDozr {
  transition: all .1s ease-in-out;
  min-width: 80%;
  margin: auto;
  min-height: 22px;
}

.overlayLinkDozr:hover {
  cursor: pointer;
  font-size: 22px;
  color: #AD9765;
}


.projectFlex {
  width: 50%;
  height: 25vh;
  display: inline;
}

.dozr1 {
  background: url
}

.copy {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 25px;

}

.span-12 {
  grid-column: span 12;
}

.span-6 {
  grid-column: span 6;
}

.underline {
  -webkit-text-decoration: black solid underline;
  text-decoration: black solid underline;
  -webkit-text-underline-position: auto;
  text-underline-position: auto;
}

.inset {
  box-shadow: -16px 10px 71px -16px rgba(0,0,0,0.67) inset;
  -webkit-box-shadow: -16px 10px 71px -16px rgba(0,0,0,0.67) inset;
  -moz-box-shadow: -16px 10px 71px -16px rgba(0,0,0,0.67) inset;
}

.banner {
  grid-column: span 12;
  width: 100%;
  height: 1px;
  background: transparent;
  box-shadow: 0px 3px 33px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 33px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 33px -1px rgba(0,0,0,0.75);
}

.flexy {
  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.react-reveal {
  display: inline-block;
}



/* Modal Design */
@media only screen and (max-width: 600px) {
    .modal-contact{
        background:rgba(0, 0, 0, 0.7);
        text-align: center;
        /* color: white; */
        /* max-width: 80rem; */
        width: 80em;
        height: auto;
        outline: none;
        padding: 1.5em;
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
}
.modal{
    background-color: black;
    text-align: center;
    color: white;
    width: 80rem;
    width: auto;
    height: 100%;;
    outline: none;
    padding: 1.5em;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border-radius: 0.5rem;
}

.modal-contact{
    background:rgba(0, 0, 0, 0.7);
    text-align: center;
    /* color: white; */
    width: 90%;
    height: auto;
    outline: none;
    padding: 1.5em;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-overlay{
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.modal.suggestedPrice {
  background: #303030;
  width: fit-content;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0;
  border-radius: 0;
}

.modal.suggestedPrice > div > button {
  background: #303030;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  position: relative;
  left: 70px;
  top: 10px;
}

.modal.suggestedPrice > div > button:hover {
  background: #181818;
}
.ReactModalPortal .ReactModal__Overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 1000000;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    z-index: 9;
    overflow-y: hidden;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 1;
}

.lightGreyGradient{
  background: linear-gradient(to top right, #3A3A3A, #272727);
}

.modal.infoModal > div > button {
  background: black;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
}
.modal.infoModal > div > button:hover {
  background: #181818;
}

.infoModal {
  background-color: white;
  width: fit-content;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
}

.modalButton {
  height: auto;
  width: 25%;
  padding: 16px;
  margin: auto;
  border-radius: 5px;
  background-color: black;
  margin-top: 32px;
  color: white;
  transition: all .3s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modalButton:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
  -webkit-box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: 5px 8px 32px -4px rgba(0,0,0,0.67);
}

.navBarButton {
  transition: transform .175s;
  border-radius: 20px;
  padding: 7px;
}

.navBarButton:hover {
  cursor: pointer !important;
  transform: scale(1.05);
}

.glowTop:hover {
  animation: glowTop 1s infinite alternate;
  animation-timing-function: ease-in-out;

}

.glow:hover {
  animation: glow 1s infinite alternate;
  animation-timing-function: ease-in-out;

}

/* Mobile Scaling */
@media screen and (max-width: 1024px) {
    .gridItemHead {
      grid-column: span 12;
      margin-top: 48px !important;
    }
    .toolsUsedHeader {
      font-size: 100% !important;
    }

    .projectFlex {
      width: 100vw !important;
    }
    .projectCard {
      grid-column: span 12 !important;
    }

    .gridItemContent {
      grid-column: span 12;
      margin-top: 32px;
    }

    .pageTitle {
      font-size: 6rem !important;
    }
    .pricingTitle {
      font-size: 2rem !important;
    }
    .hideOnMobile {
      display: none;
    }
    .typedMenu {
      width: 100% !important;
    }

    .length {
      width: 50%;
    }
}


/* Set Up Keyfram animation */

@keyframes scrollDownPulse {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  50% {
    opacity: .8;
    margin-top: 25%;
  }
  100% {
    opacity: 0;
    margin-top: 50%;
  }
}

@keyframes dozrToolsUsed {
  0% {
    background: url('https://i.imgur.com/U10qPbM.png') no-repeat;
    background-size: 80% auto;
    backgroundPosition: center;
  }
  50% {
    background: url('https://i.imgur.com/9bRalzr.png') no-repeat;
    background-size: 80% auto;
    backgroundPosition: center;
  }
  100% {
    background: url('https://i.imgur.com/CIWuUT0.png') no-repeat;
    background-size: 80% auto;
    backgroundPosition: center;
  }

}

@-webkit-keyframes scrollDownPulse {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  50% {
    opacity: .8;
    margin-top: 25%;
  }
  100% {
    opacity: 0;
    margin-top: 50%;
  }
}


@-webkit-keyframes color-change-3x {
  0% {
    background: #6a5750;
  }
  50% {
    bcakground: #30231d;
  }
  100% {
    background: #b5a397;
  }
}
@keyframes color-change-3x {
  0% {
    background: #6a5750;
  }
  50% {
    bcakground: #30231d;
  }
  100% {
    background: #b5a397;
  }
}

@keyframes glowTop {
  from {
    box-shadow: 0 0 6px -6px #f6f1ed;
  }
  to {
    box-shadow: 0 0 6px 6px #f6f1ed;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 6px -6px black;
  }
  to {
    box-shadow: 0 0 6px 6px block;
  }
}
